* {
    margin: 0;
    padding: 0; 
    font-family: comic sans ms, cursive ;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .logo{
    padding: 0;
    width: 50px;
    border-radius: 100%;
}

#header{
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 80px;
    background-color: rgb(3, 3, 3);
    box-shadow:0 5px 15px rgba(113, 89, 250); 
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    justify-content: center;
}
#navbar li{
    font-family: comic sans ms, cursive ;
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(113, 89, 250);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: white;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.mobile {
    display: none;
    align-items: start;
}
#close{
    display: none;
}


#hero{
    background-image: url("Screenshot\ 2024-03-29\ 213453.png");
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 87%;
    background-position: top 5%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    font-size: 25px;
    font-family: comic sans ms, cursive ;
    padding-bottom: 15px;
}

#hero h1{
    font-size: 40px;
    font-family: comic sans ms, cursive ;
    color: rgb(113, 89, 250);    
}
#hero h2{
    font-size: 40px;
    font-family: comic sans ms, cursive ;
}
#p{
    font-size: 20px;
    font-family: comic sans ms, cursive ;

}

#hero button{
    font-family: comic sans ms, cursive ;
    background-image: url(button.png);
    background-color: transparent;
    color: rgb(113, 89, 250);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; 
} 
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
button.normal{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}
#feature h6{
    padding: 0 40px;
}
#fe-1{
    height: 100%;
    margin-bottom: 10px;
    width: 150px;
    padding: 0;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow:20px 20px 34px rgba(59, 239, 218, 0.03);
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    margin: 15px 15px;
    
}
#feature .fe-box:hover{
    box-shadow:10px 10px 54px rgba(113, 89, 250);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    color:white;
    line-height: 4px;
    border-radius: 4px;
    background-color: skyblue ;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box:nth-child(2) h6{
    background-color: palevioletred;
    box-shadow:10px 10px 54px palevioletred;
}
#feature .fe-box:nth-child(3) h6{
    background-color: lightgreen;
    box-shadow:10px 10px 54px lightgreen;
}
#feature .fe-box:nth-child(5) h6{
    background-color: violet;
    box-shadow:10px 10px 54px violet;
}
#feature .fe-box:nth-child(6) h6{
    background-color: tan;
    box-shadow:10px 10px 54px tan;
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow:10px 10px 54px rgba(113, 89, 250);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding:10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: yellow;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgba(113, 89, 250) ;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    left:220px;
}
#product1 .pro #f9{
    height: 250px;
}

#banner{
    background-image: url(banner/b2.jpg);
    height: 50vh;
    width: 87%;
    color: white;
    padding: 0 80px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}
#banner h4{
    font-size: 16px;
}
#banner h1{
    font-size: 30px;
    padding: 10px 0;
}
#banner h1 span{
    color: red;
}
#banner button:hover{
    background-color: rgba(113, 89, 250) ;
    color: white;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(banner/b17.jpg);
    height: 50vh;
    min-width: 500px;
    background-size: cover;
    background-position: center;
    padding: 10px;
}
#sm-banner .banner-box2{
    background-image: url(banner/b10.jpg);
}
#sm-banner h4{
    color:white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color:white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color:white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: rgba(113, 89, 250) ;
    border: 1px solid rgba(113, 89, 250) ;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(banner/b7.jpg);
    height: 30vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url(banner/b4.jpg);
}
#banner3 .banner-box3{
    background-image: url(banner/b18.jpg);
}
#banner3 h2{
    color: white;
    font-size: 22px;
    font-weight: 900;
}
#banner3 h4{
    color: red;
    font-size: 15px;
    font-weight: 800;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: yellow;
}
#newsletter .form{
    display: flex;
    width:40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0 ;
}
#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px ;
}
footer h4{
    padding-bottom: 20px;
}
footer p strong{
    color:black;
}
footer p{
    margin: 0 0 8px 0;
    color: grey;
}
footer a{
    text-decoration: none;
    color: grey;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install .img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center  ;
}
footer .copyright p{
    color: black;
}




@media (max-width:799px){
    .section-p1{
        padding: 40px 20px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#0c0c0c;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    .mobile{
        display: flex;
        align-items: center;
    }
    .mobile i{
        color: rgb(253, 252, 252);
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: rgb(250, 248, 248);
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
        flex-wrap: wrap;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }

    #banner {
        height: 30vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }
    #newsletter {
        width: 100%;
    }
   
}
@media (max-width:  477px){
    .section-p1{
        padding: 20px;
    }
    #header {
        width: 120%;
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero {
        width: 125%;
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 135px;
        margin: 0 0 15px 0;
    }
    /* #product1 .pro{
        width: 130%;
    } */
    .section-p1 {
        width: 120%;
        align-items: center;
        padding: 40px 20px;
    }
    #newsletter {
        width: 130%;
    }
    #banner {
        width: 98%;
        height: 30vh;
    }
    #banner h1 {
        font-size: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box {
        align-items: center;
        width: 100%;
    }
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    .single-pro-details{
        width: 100%;
    }
    #blog-header {
        width: 130%;
    }
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-box{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30;
    }
    #blog .blog-details{
        width: 100%;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
#page-headder{
    background-image: url(banner/b1.jpg);
    width: 98%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    color: white;
}
#page-headder h2{
    font-size: 50px;
    
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    background-color: #088178;
    border-radius: 4px;
    font-weight: 600;
}
#pagination i{
    font-size: 16px;
    font-weight: 600;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails {
    display:flex;
    width: 50%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
#small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-pro-details {
    width: 100%;
    padding: 30px; 
}
.single-pro-details h4{
    padding: 20px 0 20px 0;
}
.single-pro-details h2{
    font-size:26px;
}
/* .single-pro-details input{
    width: 20px;
    
} */
.single-pro-details input{
    margin-top: 5px;
}

.single-pro-details button{
    margin-top: 5px;    
    padding-top: 10px;
    background-color: #088178;
    color: white;
}
/* ---------------------------------------------------------------------------------------------------------------------------------- */

#blog-header{
    background-image: url(banner/b19.jpg);
    width: 98%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    color: white;
}
#blog-header h2{
    font-size: 50px;
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 70px ;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    transition: 0.3s;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -60px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}
